@charset "UTF-8";

body{
	background-image:url("../img/nodeImages/NodePageImgSkyBlue.jpg");
}

.scene_icon{
	width:60px;
}

.nodeText{
	background-color:#c8e4f8;
	color: #666;
	font-family: arial, verdana, tahoma;
	font-size: 11px;
	
	border: 5px solid #c8e4f8;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	
	cursor: default;
}


.information_container{
	display:none;
	position:absolute;

	width:140px;

    background: #ccc;
    margin: 0 auto 10px;
    border: 5px solid #999;
	
	cursor: default;
}
.information_container:before {
	transform: rotate(90deg);
    content: '';
    position: absolute;
    top:-2px;
    left: -25px;

    border-top: 20px solid #999;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;	
}
.information_container:after {
	transform: rotate(90deg);
    content: '';
    position: absolute;
    top: 0px;
    left: -14px;

    border-top: 16px solid #ccc;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
}

.information{
	width:100%;
	height:50%;

	color: #666;
	font-family: arial, verdana, tahoma;
	font-size: 20px;
	text-align:center;
}
.information:hover{
	color: #ffffff;
	transition: all 0.5s;
}

.inf_bottom{
	width:100%;
	height:50%;

	color: #666;
	font-family: arial, verdana, tahoma;
	font-size: 20px;
	text-align:center;
	
	border-top: 5px solid #999;
}