@charset "UTF-8";
	body {
		background: #F1F3FA;
	}
	
	aside{
		height:100%;
		width:200px;
		display:block;
	}

/* loginForm Start */

/* loginForm End */

/* sideBar Start */
.container{
    width:800px;
    overflow:hidden;
    display:inline-block;
}
.side-bar{
    background:#74AFAD;
    position:absolute;
    height:100%;
    width:200px;
    color:#fff;
    transition: margin-left 0.5s;
}

.side-bar ul{
    list-style:none;
    padding:0px;
    
}

.side-bar ul li.menu-head{
    font-family: 'Lato', sans-serif;
    padding:20px;
}

.side-bar ul li.menu-head a{
    color:#fff;
    text-decoration:none;
    height:50px;
}

.side-bar ul .menu-head  a{
    color:#fff;
    text-decoration:none;
    height:50px;
}

.side-bar ul .menu li  a {
    color:#fff;
    text-decoration:none;
    display:inline-table;
    width:100%;
    padding-left:20px;
    padding-right:20px;
    padding-top:10px;
    padding-bottom:10px;
}

.side-bar ul .menu li  a:hover{
    border-left:3px solid #ECECEA;    
    padding-left:17px;
}

.side-bar ul .menu li  a.active{
    padding-left:17px;
    background:#D9853B;
    border-left:3px solid #ECECEA;
}

.side-bar ul .menu li  a.active:before {
   	content:"";
   	position: absolute;
   	width: 0;
   	height: 0;
   	border-top: 20px solid transparent;
   	border-bottom: 20px solid transparent;

	border-left: 7px solid #D9853B;
   	margin-top: -10px;
   	margin-left: 180px;
}

.content{
    padding-left: 200px;
    transition: padding-left 0.5s;
}

.active > .side-bar{
    margin-left:-150px;   
    transition: margin-left 0.5s;
}

.active > .content{
    padding-left:50px;
    transition: padding-left 0.5s; 
}

.user-profile{
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
}

.logout-button{
	float:right;
}
/* sideBar End */


/* mainframe start */
body {
    margin: 0;            /* Reset default margin */
}

iframe {
    display: block;       /* iframes are inline by default */
    border: none;         /* Reset default border */
    height: 100vh;        /* Viewport-relative units */
    width: 100vw;
    padding-left: 80px; 
}

.search_div {
	width: 100%;
	height: 100px;
	margin-top: 20px;
	margin-bottom: 10px;
}

.inner_div {
	width: 20%;
	height: 85%;
}

.search_area {
	width: 410px;
	height: 40px;
	padding-top: 15px;
}

.bt_save {
	margin-left: 700px;
}